@font-face {
    font-family: 'cutel';
    src: url(./CUTEL.ttf);
}
@font-face {
    font-family: 'Sugar';
    src: url(./Sugar.ttf);
}
@font-face {
    font-family: 'DFPOP';
    src: url(./DFPOP.ttf);
}